<header>
    <nav>
        <a data-cy="all-listings-navlink" [routerLink]="['/listings']" routerLinkActive="router-link-active" >All Listings</a>
        <a data-cy="my-listings-navlink" [routerLink]="['/login']" routerLinkActive="router-link-active" >Log In</a>
        <a data-cy="my-listings-navlink" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up</a>
        <a data-cy="create-new-listing-navlink" [routerLink]="['/create-listing']" routerLinkActive="router-link-active" >Create New Listing</a>
    </nav>
</header>

<router-outlet></router-outlet>
