:root {
    --theme-contrast: #ffffff;
    --theme-primary: #1ea896;
    --theme-secondary: #ff715b;
    --theme-text: #1d3557;
    --theme-background: #f6f0ea;
}

*,
::before
::after {
    box-sizing: border-box;
}

body {
    background-color: var(--theme-background);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: min(90%, 70.5rem);
}