:root {
    --theme-contrast: #ffffff;
    --theme-primary: #1ea896;
    --theme-secondary: #ff715b;
    --theme-text: #1d3557;
    --theme-background: #f6f0ea;
}

body {
    background-color: var(--theme-background);
}