<h1>
    Listing Detail Page!
</h1>
<div>
    <p>ID = {{ listing.product_id }}</p>
    <p>Name = <a [routerLink]="['/edit-listing/', listing.product_id]" routerLinkActive="router-link-active" >{{ listing.prod_name }}</a></p>
    <p>Description = {{ listing.prod_desc }}</p>
    <p>Price = {{ listing.price }}</p>
    <p>Discount = {{ listing.prod_discount }}</p>
    <p>Image URL = {{ listing.prod_image }}</p>
    <p>Supplier ID = {{ listing.supplier }}</p>
    <p>Category ID = {{ listing.category }}</p>
</div>
